[Unit]
Description=AI Trade Bot
After=network.target

[Service]
User=__USER__
WorkingDirectory=/home/__USER__/TRADE_BOT
ExecStart=/home/__USER__/venv/bin/python3 api.py
Restart=always
RestartSec=15
StartLimitIntervalSec=600
StartLimitBurst=5
MemoryMax=750M
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
